version: '3'

volumes:
  jenkins-data:
    driver: local

services:
  app:
    build:
      context: .
    container_name: jenkins-app
    ports:
      - "8081:8081"

  jenkins:
    container_name: jenkins
    image: jenkins/jenkins:lts-alpine-jdk17
    user: root
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins-data:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock