server:
  port: 8081

spring:
  application:
    name: jenkins-app
  datasource:
    username: test
    password: test
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
  h2:
    console:
      enabled: true